BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "ss_l" SITE "F13" ;
LOCATE COMP "mosi" SITE "F12" ;
LOCATE COMP "in_sw_7" SITE "B2" ;
LOCATE COMP "in_sw_6" SITE "D8" ;
LOCATE COMP "in_sw_5" SITE "B3" ;
LOCATE COMP "in_sw_4" SITE "E8" ;
LOCATE COMP "in_sw_3" SITE "A2" ;
LOCATE COMP "in_sw_2" SITE "E9" ;
LOCATE COMP "in_sw_1" SITE "A3" ;
LOCATE COMP "in_sw_0" SITE "A10" ;
LOCATE COMP "miso" SITE "B16" ;
LOCATE COMP "led_board_7" SITE "R14" ;
LOCATE COMP "led_board_6" SITE "T14" ;
LOCATE COMP "led_board_5" SITE "T15" ;
LOCATE COMP "led_board_4" SITE "P14" ;
LOCATE COMP "led_board_3" SITE "R15" ;
LOCATE COMP "led_board_2" SITE "R16" ;
LOCATE COMP "led_board_1" SITE "P15" ;
LOCATE COMP "led_board_0" SITE "P16" ;
IOBUF PORT "ss_l" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "mosi" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "miso" IO_TYPE=LVCMOS33 PULLMODE=NONE SLEWRATE=FAST DRIVE=14 ;
LOCATE COMP "sclk" SITE "D7" ;
IOBUF PORT "sclk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "in_sw_7" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "in_sw_6" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "in_sw_5" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "in_sw_4" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "in_sw_3" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "in_sw_2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "in_sw_1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "in_sw_0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
FREQUENCY NET "sclk_c" 26.000000 MHz ;
IOBUF PORT "led_ext_7" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=14 ;
IOBUF PORT "led_ext_6" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=14 ;
IOBUF PORT "led_ext_5" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=14 ;
IOBUF PORT "led_ext_4" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=14 ;
IOBUF PORT "led_ext_3" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=14 ;
IOBUF PORT "led_ext_2" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=14 ;
IOBUF PORT "led_ext_1" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=14 ;
IOBUF PORT "led_ext_0" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=14 ;
IOBUF PORT "led_board_7" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led_board_6" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led_board_5" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led_board_4" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led_board_3" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led_board_2" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led_board_1" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "led_board_0" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
OUTPUT PORT "miso" LOAD 0.000000 pF ;
USE PRIMARY NET "sclk_c" ;
LOCATE COMP "led_ext_0" SITE "C11" ;
LOCATE COMP "led_ext_1" SITE "A5" ;
LOCATE COMP "led_ext_2" SITE "B12" ;
LOCATE COMP "led_ext_3" SITE "E6" ;
LOCATE COMP "led_ext_4" SITE "B11" ;
LOCATE COMP "led_ext_5" SITE "E7" ;
LOCATE COMP "led_ext_6" SITE "A12" ;
LOCATE COMP "led_ext_7" SITE "B5" ;
