BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "ss_l" SITE "F13" ;
LOCATE COMP "sclk" SITE "D7" ;
LOCATE COMP "mosi" SITE "F12" ;
LOCATE COMP "reset" SITE "K13" ;
LOCATE COMP "miso" SITE "B16" ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "in_sw_7" SITE "A10" ;
LOCATE COMP "in_sw_6" SITE "A3" ;
LOCATE COMP "in_sw_5" SITE "E9" ;
LOCATE COMP "in_sw_4" SITE "A2" ;
LOCATE COMP "in_sw_3" SITE "E8" ;
LOCATE COMP "in_sw_2" SITE "B3" ;
LOCATE COMP "in_sw_1" SITE "D8" ;
LOCATE COMP "in_sw_0" SITE "B2" ;
LOCATE COMP "led_ext_7" SITE "C11" ;
LOCATE COMP "led_ext_6" SITE "A5" ;
LOCATE COMP "led_ext_5" SITE "B12" ;
LOCATE COMP "led_ext_4" SITE "E6" ;
LOCATE COMP "led_ext_3" SITE "B11" ;
LOCATE COMP "led_ext_2" SITE "E7" ;
LOCATE COMP "led_ext_1" SITE "A12" ;
LOCATE COMP "led_ext_0" SITE "B5" ;
