BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF ALLPORTS IO_TYPE=LVCMOS33 ;
LOCATE COMP "mosi" SITE "F12" ;
LOCATE COMP "miso" SITE "B16" ;
LOCATE COMP "ram_data_ext_0" SITE "F2" ;
LOCATE COMP "ram_data_ext_7" SITE "B1" ;
LOCATE COMP "ram_data_ext_6" SITE "L3" ;
LOCATE COMP "ram_data_ext_5" SITE "J4" ;
LOCATE COMP "ram_data_ext_4" SITE "G4" ;
LOCATE COMP "ram_data_ext_3" SITE "H4" ;
LOCATE COMP "ram_data_ext_2" SITE "M5" ;
LOCATE COMP "ram_data_ext_1" SITE "K5" ;
LOCATE COMP "board_leds_7" SITE "R14" ;
LOCATE COMP "board_leds_6" SITE "T14" ;
LOCATE COMP "board_leds_5" SITE "T15" ;
LOCATE COMP "board_leds_4" SITE "P14" ;
LOCATE COMP "board_leds_3" SITE "R15" ;
LOCATE COMP "board_leds_2" SITE "R16" ;
LOCATE COMP "board_leds_1" SITE "P15" ;
LOCATE COMP "board_leds_0" SITE "P16" ;
LOCATE COMP "bar_leds_7" SITE "C11" ;
LOCATE COMP "bar_leds_6" SITE "A5" ;
LOCATE COMP "bar_leds_5" SITE "B12" ;
LOCATE COMP "bar_leds_4" SITE "E6" ;
LOCATE COMP "bar_leds_3" SITE "B11" ;
LOCATE COMP "bar_leds_2" SITE "E7" ;
LOCATE COMP "bar_leds_1" SITE "A12" ;
LOCATE COMP "bar_leds_0" SITE "B5" ;
LOCATE COMP "switches_7" SITE "A10" ;
LOCATE COMP "switches_6" SITE "A3" ;
LOCATE COMP "switches_5" SITE "E9" ;
LOCATE COMP "switches_4" SITE "A2" ;
LOCATE COMP "switches_3" SITE "E8" ;
LOCATE COMP "switches_2" SITE "B3" ;
LOCATE COMP "switches_1" SITE "D8" ;
LOCATE COMP "switches_0" SITE "B2" ;
LOCATE COMP "nss" SITE "F13" ;
LOCATE COMP "sck" SITE "D7" ;
LOCATE COMP "reset_n" SITE "G2" ;
LOCATE COMP "mem_data_0" SITE "F2" ;
LOCATE COMP "mem_data_1" SITE "K5" ;
LOCATE COMP "mem_data_7" SITE "B1" ;
LOCATE COMP "mem_data_6" SITE "L3" ;
LOCATE COMP "mem_data_5" SITE "J4" ;
LOCATE COMP "mem_data_4" SITE "G4" ;
LOCATE COMP "mem_data_3" SITE "H4" ;
LOCATE COMP "mem_data_2" SITE "M5" ;
LOCATE COMP "mem_address_16" SITE "D1" ;
LOCATE COMP "mem_address_15" SITE "F1" ;
LOCATE COMP "mem_address_14" SITE "E1" ;
LOCATE COMP "mem_address_13" SITE "R2" ;
LOCATE COMP "mem_address_12" SITE "G3" ;
LOCATE COMP "mem_address_11" SITE "K3" ;
LOCATE COMP "mem_address_10" SITE "N4" ;
LOCATE COMP "mem_address_9" SITE "J3" ;
LOCATE COMP "mem_address_8" SITE "N2" ;
LOCATE COMP "mem_address_7" SITE "H3" ;
LOCATE COMP "mem_address_6" SITE "H1" ;
LOCATE COMP "mem_address_5" SITE "G1" ;
LOCATE COMP "mem_address_4" SITE "M2" ;
LOCATE COMP "mem_address_3" SITE "K2" ;
LOCATE COMP "mem_address_2" SITE "L5" ;
LOCATE COMP "mem_address_1" SITE "L2" ;
LOCATE COMP "mem_address_0" SITE "L4" ;
LOCATE COMP "mem1_ceh_n" SITE "N3" ;
LOCATE COMP "mem1_ce2" SITE "N1" ;
LOCATE COMP "mem1_we_n" SITE "P1" ;
LOCATE COMP "mem1_oe_n" SITE "R1" ;
LOCATE COMP "mem2_ceh_n" SITE "J2" ;
LOCATE COMP "mem2_ce2" SITE "G5" ;
LOCATE COMP "mem2_we_n" SITE "H5" ;
LOCATE COMP "mem2_oe_n" SITE "M4" ;
